@model QLNV4_60135761.Models.QuyetDinhThangChuc

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    if (Session["QuanLy"] == null)
    {
        Response.Redirect("/TaiKhoans_60135761/DangNhap", false);
    }
}

<h2>THÔNG TIN QUYẾT ĐỊNH</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SoQD,"Số quyết định", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SoQD, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" value="@ViewBag.SoQD" disabled readonly class="form-control" />
                @Html.ValidationMessageFor(model => model.SoQD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDungQuyetDinh,"Nội dung quyết định", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.NoiDungQuyetDinh, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.NoiDungQuyetDinh, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NoiDungQuyetDinh, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.NgayTao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MaNV, "Nhân viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" style="width:100px;" />
                @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info", @style = "width: 100px;" })
            </div>
        </div>
    </div>
}
