@model QLNV4_60135761.Models.PhieuDanhGia
@{
    ViewBag.Title = "XoaPhieu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    string khoa = "";
    if (Session["QuanLy"] == null)
    {
        Response.Redirect("/TaiKhoans_60135761/DangNhap", false);
    }
}

<h3 style="color:red;">Bạn có chắc chắn muốn xoá phiếu đánh giá này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã phiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhieu)
        </dd>

        <dt>
            Tên đánh giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhGia)
        </dd>

        <dt>
            Kỳ đánh giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KyDanhGia)
        </dd>

        <dt>
            Năm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nam)
        </dd>

       

        <dt>
            Khoá
        </dt>

        <dd>
            @if (Model.Khoa == true)
            {
                khoa = "Khoá";
            }
            else
            {
                khoa = "Mở";
            }
            @khoa
        </dd>

        <dt>
            Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTenNV)
        </dd>

    </dl>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1">
            <input type="submit" value="Xoá" class="btn btn-danger" style="width: 100px;" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary", @style = "width: 100px;" })
        </div>
    }
</div>

